<!-- HEADER -->
<header class="header">
  <div class="mbox">
    <div class="header-wrap">
      <div class="header-left">
        <a class="logo" href="index.html">
          <img src="images/logo.png" alt="logo">
        </a>
        <p><strong>Программа тренировок для снижения веса</strong> и коррекции тела/фигуры</p>
      </div>
      <nav>
        <ul>
          <li><a href="#program">Главная</a></li>
          <li><a href="#results">Отзывы</a></li>
          <li><a href="#bundles">Программы</a></li>
          <li><a href="#get">Наши преимущества</a></li>
          <li><a href="#trainer">О нас</a></li>
        </ul>
        <div class="request">
          <a href="#"><img src="images/viber-icon.png" alt="">Viber</a>
          <a href="#"><img src="images/whatsup-icon.png" alt="">WhatsUp</a>
        </div>
      </nav>
      <div class="header-right">
        <div class="phone-pic">
          <img src="images/telephone-icon.png" alt="telephone">
        </div>
        <div class="phone-number">
          <a href="tel:79182989164">+7 (918) 298-91-64</a>
          <p>Звонок по РФ-Бесплатный!</p>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- /HEADER -->

