<div class="hidden-block">

  <div id="call_success">
    <div class="call-success">
      <div class="call-pic">
        <img src="images/thank-man.jpg" alt="man">
      </div>
       <div class="call_success">
          <div class="call-title">Благодарю за доверие</div>
          <div class="call-subtitle">Если хотите получать всегда свежие советы по уходу за здоровьем и своим телом, <b>заходите по ссылке и подписывайтесь:</b></div>
          <div class="call-social">
            <div class="social-link">
              <div class="social-icon">
                <img src="images/vk-icon.png" alt="VK">
              </div>
              <a href="https://vk.com/sport-sport">https://vk.com/sport-sport</a>
            </div>

            <div class="social-link">
              <div class="social-icon">
                <img src="images/insta-icon.png" alt="Instagram">
              </div>
              <a href="https://vk.com/sport-sport">https://vk.com/sport-sport</a>
            </div>

          </div>
       </div>
    </div>
  </div>

  <div id="call-popup">
    <div class="call-title">
      <h5>Оставьте заявку</h5>
      <p>на бесплатный подбор Вашего питания и тренировок, <b>которые приведут Вас к такому результату</b></p>
    </div>
    <div class="el-form">
      <form class="call-form" action="ajax-programer.php" method="post" data-form="results">
        <div class="fields-wrap">
          <div class="form-field name-field">
            <input type="text" name="name" placeholder="Введите Ваше имя" required />
          </div>
          <div class="form-field">
            <input class="tel-mask" type="tel" name="tel" placeholder="Введите Ваш телефон" required />
          </div>
        </div>
        <button class="light-btn" type="submit">Оставить заявку</button>
      </form>
      <div class="request">
        <span>Или оставьте заявку в Viber или WhatsUp</span>
        <a class="whatsup-btn" href="#"><img src="images/whatsup-icon.png" alt="whatsup">WhatsUp</a>
        <a class="viber-btn" href="#"><img src="images/viber-icon.png" alt="viber">Viber</a>
      </div>
    </div>
  </div>

  <div id="bundle-popup">
    <div class="call-title">
      <h5>Получите индивидуальную программу тренировок с 30% скидкой прямо сейчас!</h5>
    </div>
    <div class="el-form">
      <form class="bundle-form" action="ajax-programer.php" method="post">
        <div class="fields-wrap">
          <div class="form-field name-field">
            <input type="text" name="name" placeholder="Введите Ваше имя" required />
          </div>
          <div class="form-field">
            <input class="tel-mask" type="tel" name="tel" placeholder="Введите Ваш телефон" required />
          </div>
        </div>
        <button class="light-btn" type="submit">Получить программу с 30% скидкой</button>
      </form>
      <div class="request">
        <span>Или оставьте заявку в Viber или WhatsUp</span>
        <a class="whatsup-btn" href="#"><img src="images/whatsup-icon.png" alt="whatsup">WhatsUp</a>
        <a class="viber-btn" href="#"><img src="images/viber-icon.png" alt="viber">Viber</a>
      </div>
    </div>
  </div>

  <div id="questions-popup">
    <div class="call-title m-bottom">
      <h5>Получите ответ на свой вопрос</h5>
      <p>для этого в ведите данные и мы ответим Вам в течении 1 минуты</p>
    </div>
    <div class="el-form">
      <form class="questions-form" action="ajax-programer.php" method="post" data-form="questions">
        <div class="fields-wrap">
          <div class="form-field name-field">
            <input type="text" name="name" placeholder="Введите Ваше имя" required />
          </div>
          <div class="form-field">
            <input class="tel-mask" type="tel" name="tel" placeholder="Введите Ваш телефон" required />
          </div>
        </div>
        <textarea name="question" required></textarea>
        <button class="light-btn" type="submit">Оставить заявку</button>
      </form>
      <div class="request">
        <span>Или оставьте заявку в Viber или WhatsUp</span>
        <a class="whatsup-btn" href="#"><img src="images/whatsup-icon.png" alt="whatsup">WhatsUp</a>
        <a class="viber-btn" href="#"><img src="images/viber-icon.png" alt="viber">Viber</a>
      </div>
    </div>
  </div>

  <div id="feedback-popup">
    <div class="call-title">
      <h5>Хотите поделиться своими успехами?</h5>
      <p>Оставьте свои контакты и мы свяжемся с вами.</p>
    </div>
    <div class="el-form">
      <form class="feedback-form" action="ajax-programer.php" method="post">
        <div class="fields-wrap">
          <div class="form-field name-field">
            <input type="text" name="name" placeholder="Введите Ваше имя" required />
          </div>
          <div class="form-field">
            <input class="tel-mask" type="tel" name="tel" placeholder="Введите Ваш телефон" required />
          </div>
        </div>
        <button class="light-btn" type="submit">Оставить заявку</button>
      </form>
      <div class="request">
        <span>Или оставьте заявку в Viber или WhatsUp</span>
        <a class="whatsup-btn" href="#"><img src="images/whatsup-icon.png" alt="whatsup">WhatsUp</a>
        <a class="viber-btn" href="#"><img src="images/viber-icon.png" alt="viber">Viber</a>
      </div>
    </div>
  </div>

  <div id="user-popup">
    <div class="results-wrap"></div>
  </div>

  <div id="terms-popup">
    <p>Наш интернет-сайт уважительно относится к правам клиента. Соблюдается строгая конфиденциальность при оформлении заявки. Сведения надёжно сохраняются и защищены от передачи.</p>
    <p>Согласием на обработку данных клиента исключительно с целью оказания услуг является размещение заказа на сайте.</p>
    <p>К персональным данным относится личная информация о клиенте: домашний адрес; имя, фамилия, отчество; сведения о рождении; имущественное, семейное положение; личные контакты (телефон, электронная почта) и прочие сведения, которые перечислены в Законе «О персональных данных».</p>
    <p>Клиент вправе отказаться от обработки персональных данных. Нами в данном случае гарантируется удаление с сайта всех персональных данных в трёхдневный срок в рабочее время. Подобный отказ клиент может оформить простым электронным письмом на адрес, указанный на странице нашего сайта.</p>
  </div>

</div>