<section id="program" class="section01">
  <h3><span>Снизьте вес на <b>≈5 кг уже в 1 месяц</b> <strong>и получите идеальное тело</strong></span> за счет персональной системы фитнес-тренировок и питания</h3>
  <div class="program-wrap">
    <div class="program-top">

      <div class="program-item">
        <div class="program-icon">
          <img src="images/refund-icon.png" alt="refund">
        </div>
        <p>Вернем деньги, если в течении 1 месяца не будет результата</p>
      </div>

      <div class="program-item">
        <div class="program-icon">
          <img src="images/training-icon.png" alt="training">
        </div>
        <p>Адаптация тренировок под зал, дом и офис.</p>
      </div>

      <div class="program-item">
        <div class="program-icon">
          <img src="images/trainer-icon.png" alt="trainer">
        </div>
        <p>Без таблеток, диет и операций.</p>
      </div>

      <div class="program-item">
        <div class="program-icon">
          <img src="images/discount-icon.png" alt="discount">
        </div>
        <p>Цена на 20% ниже, чем в зале.</p>
      </div>

    </div>
    <div class="program-bottom">
      <div class="students-wrap">
        <h5>Посмотрите на фото учеников <span>“до” и “После”</span></h5>
        <div class="students">
          <div class="students-photo">
            <img src="images/result03.jpg" alt="student">
          </div>
          <div class="students-info-wrap">
            <div class="students-info">
              <h6>Анастасия Метлинова</h6>
              <span>г. Севастополь</span>
              <p>Персональная программа поможет скорректировать ваши тренировки, привнести в них разнообразие и новизну. Любая персональная программа от Егора Ткаченко может эффективно</p>
              <a href="javascript:void(0)">читать подробней...</a>
            </div>
          </div>
        </div>
      </div>
      <div class="order-video">
        <div class="order-title">
          <h4>Получите полноценную видеопрограмму</h4>
          <p><span>тренировки на 1 день</span> от фитнес-тренера Егора Ткаченко <span>бесплатно!</span></p>
        </div>
        <div class="el-form">
          <form class="program-form" action="ajax-programer.php" method="post" data-form="program">
            <div class="fields-wrap">
              <div class="form-field name-field">
                <input type="text" name="name" placeholder="Введите Ваше имя" required />
              </div>
              <div class="form-field">
                <input class="tel-mask" type="tel" name="tel" placeholder="Введите Ваш телефон" required />
              </div>
            </div>
            <button class="program_btn light-btn" type="submit">Получить советы и доступ к видео</button>
          </form>
          <div class="request">
            <span>Или оставьте заявку в Viber или WhatsUp</span>
            <a class="whatsup-btn" href="#"><img src="images/whatsup-icon.png" alt="whatsup">WhatsUp</a>
            <a class="viber-btn" href="#"><img src="images/viber-icon.png" alt="viber">Viber</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>