<section id="trainer" class="section08">
  <div class="mbox">
    <h2 class="el-square square-gray"><span>Егор Ткаченко</span> спортсмен, профессиональный сертифицированный фитнес-тренер</h2>
    <div class="trainer-wrap">
      <div class="trainer-carousel">
        <div class="carousel-left-wrap">
          <a class="carousel-left-prev" href="#"></a>
          <div class="carousel-left">
            <div class="slider-item">
              <img src="images/slide01.jpg" alt="">
            </div>
            <div class="slider-item">
              <img src="images/slide02.jpg" alt="">
            </div>
            <div class="slider-item">
              <img src="images/slide03.jpg" alt="">
            </div>
            <div class="slider-item">
              <img src="images/slide04.jpg" alt="">
            </div>
            <div class="slider-item">
              <img src="images/slide05.jpg" alt="">
            </div>
          </div>
          <a class="carousel-left-next" href="#"></a>
        </div>
        <div class="carousel-right">
          <div class="slider-item">
            <img src="images/slide01.jpg" alt="">
          </div>
          <div class="slider-item">
            <img src="images/slide02.jpg" alt="">
          </div>
          <div class="slider-item">
            <img src="images/slide03.jpg" alt="">
          </div>
          <div class="slider-item">
            <img src="images/slide04.jpg" alt="">
          </div>
          <div class="slider-item">
            <img src="images/slide05.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="trainer-achieve">
        <ul>
          <li><span>Егор Ткаченко</span> – профессиональный сертифицированный фитнес-тренер, спортсмен (армрестлинг), практикует экстремальные виды спорта.</li>
          <li>Участник <span>«Гонка Героев 2016»</span></li>
          <li><span>Призер летнего кубка</span> Men’s Physique 2015 на Черном море</li>
          <li>Участник проекта <span>«Спарта» 2017</span></li>
          <li><b>10% от покупки <span>мы отдаем в помощь детям</span></b></li>
        </ul>
        <div class="certificate-wrap">
          <a class="certificate-prev" href="#"></a>
          <div class="certificate-slider">
            <a class="certificate-item" href="images/certificate01.jpg">
              <img src="images/certificate01.jpg" alt="">
              <div class="zoom-layout">
                <img src="images/zoom-icon.png" alt="zoom">
              </div>
            </a>
            <a class="certificate-item" href="images/certificate02.jpg">
              <img src="images/certificate02.jpg" alt="">
                <div class="zoom-layout">
                <img src="images/zoom-icon.png" alt="zoom">
              </div>
            </a>
            <a class="certificate-item" href="images/certificate03.jpg">
              <img src="images/certificate03.jpg" alt="">
              <div class="zoom-layout">
                <img src="images/zoom-icon.png" alt="zoom">
              </div>
            </a>
            <a class="certificate-item" href="images/certificate04.jpg">
              <img src="images/certificate04.jpg" alt="">
              <div class="zoom-layout">
                <img src="images/zoom-icon.png" alt="zoom">
              </div>
            </a>
            <a class="certificate-item" href="images/certificate05.jpg">
              <img src="images/certificate05.jpg" alt="">
              <div class="zoom-layout">
                <img src="images/zoom-icon.png" alt="zoom">
              </div>
            </a>
            <a class="certificate-item" href="images/certificate06.jpg">
              <img src="images/certificate06.jpg" alt="">
              <div class="zoom-layout">
                <img src="images/zoom-icon.png" alt="zoom">
              </div>
            </a>
          </div>
          <a class="certificate-next" href="#"></a>
        </div>
      </div>
    </div>
  </div>
</section>