<section id="bundles" class="section06">
  <h2><span>Мы предлагаем 3 пакета</span> персональных программ</h2>
  <div class="bundles-wrap">

    <div class="bundles-item">
      <div class="bundle-top">
        <div class="bundle-title">
          <h5>«Offline»</h5>
          <p>Самостоятельные тренировки</p>
        </div>
        <span><b>2 800</b> руб.</span>
      </div>
      <div class="bundle-bottom">
        <h5>Что вы получаете?</h5>
        <ul>
          <li>Персональный план тренировок в соответствии с вашими целями.</li>
          <li>Персональный план питания для достижения ваших целей.</li>
          <li>Регулярную рассылку с полезной информацией на свой почтовый ящик.</li>
          <li>100% самостоятельность при прохождении курса</li>
        </ul>
      </div>
      <div class="bundle-link">
        <a id="econom" class="bundleLink" href="#bundle-popup">Получить 30% скидку
        <br>первым 10 клиентам</a>
        <p>Купили сегодня <span>3</span> человека</p>
      </div>
    </div>

    <div class="bundles-item bundle-green">
      <div class="bundle-top">
        <div class="bundle-title">
          <h5>«Оnline Standart»</h5>
          <p>Тренировки с личным куратором</p>
        </div>
        <p>12 месяцев. 600 руб./день.</p>
        <span><b>4 200</b> руб.</span>
      </div>
      <div class="bundle-bottom">
        <h5>Что вы получаете?</h5>
        <ul>
          <li>Персональный план тренировок в соответствии с вашими целями.</li>
          <li>Персональный план питания для достижения ваших целей.</li>
          <li>Регулярную рассылку с полезной информацией на почту.</li>
          <li>Консультации в закрытой группе Вконтакте и доступ в чат</li>
          <li>Живое общение со своим тренером-куратором</li>
          <li>Регулярный анализ и коррекцию питания и тренинга</li>
          <li>Правильную технику выполнения упражнений</li>
        </ul>
        <ul class="hide-bundle-green">
          <li>Рекомендации по спортивной экипировке</li>
          <li>Регулярные вебинары с разбором</li>
          <li>Разбор проблем со здоровьем и травм</li>
          <li>Рекомендации по необходимым добавкам</li>
          <li>Список СТОП-продуктов</li>
          <li>Мотивацию и поддержку куратора</li>
          <li>Коммьюнити, общение и поддержку от единомышленников</li>
        </ul>
        <div class="bundles-all bundles-all-green">
          <a id="bundleGreen" href="#">читать подробней<img src="images/arrow-blue-icon.png" alt="arrow"></a>
        </div>
      </div>
      <div class="bundle-link">
        <a id="standart" class="bundleLink" href="#bundle-popup">Получить 30% скидку
        <br>первым 10 клиентам</a>
        <p>Купили сегодня <span>5</span> человека</p>
      </div>
    </div>

    <div class="bundles-item bundle-yellow">
      <div class="bundle-top">
        <div class="bundle-title">
          <h5>«V.I.P»</h5>
          <p>Полное сопровождение</p>
        </div>
        <p>12 месяцев. 600 руб./день.</p>
        <span><b>11 000</b> руб.</span>
      </div>
      <div class="bundle-bottom">
        <h5>Что вы получаете?</h5>
        <ul>
          <li>Персональный план тренировок в соответствии с вашими целями.</li>
          <li>Персональный план питания для достижения ваших целей.</li>
          <li>Регулярную рассылку с полезной информацией на почту.</li>
          <li>Консультации в закрытой группе Вконтакте.</li>
          <li>Персональная группа для ведения прогресса, и доступ в чат</li>
          <li>Прямой контакт со своим тренером-куратором, оперативная обратная связь</li>
          <li>Возможность проведения тренировок 1 на 1 по Skype</li>
          <li>Регулярный анализ и коррекцию питания и тренинга</li>
          <li>Правильную технику выполнения упражнений</li>
          <li>Рекомендации по спортивной экипировке</li>
        </ul>
        <ul class="hide-bundle-yellow">
          <li>Регулярные вебинары с разбором</li>
          <li>Любые консультации по Viber, WhatsApp</li>
          <li>Разбор проблем со здоровьем и травм, детальный персональный разбор и выработка решения</li>
          <li>Рекомендации по необходимым добавкам</li>
          <li>Список СТОП-продуктов</li>
          <li>Мотивацию и поддержку куратора</li>
          <li>Коммьюнити, общение и поддержку от единомышленников</li>
          <li>И другие дополнительные преимущества</li>
        </ul>
        <div class="bundles-all bundles-all-yellow">
          <a id="bundleYellow" href="#">читать подробней<img src="images/arrow-blue-icon.png" alt="arrow"></a>
        </div>
      </div>
      <div class="bundle-link">
        <a id="vip" class="bundleLink" href="#bundle-popup">Получить 30% скидку
        <br>первым 10 клиентам</a>
        <p>Купили сегодня <span>1</span> человека</p>
      </div>
    </div>

  </div>
</section>