<section class="section09">
  <div class="mbox">
    <div class="questions-wrap">
      <div class="questions-left">
        <h2 class="el-square square-gray">Отвечаем
        <br> на ваши вопросы</h2>
        <span>Егор Ткаченко-сертифицированный тренер с опытом 5 лет</span>
        <div class="questions-pic">
          <img src="images/questions.jpg" alt="trainer">
        </div>
        <div class="not-answered">
          <h4>Не нашли ответа на свой вопрос?</h4>
          <p>Задайте его Егору Ткаченко прямо сейчас!</p>
          <a class="questions-btn light-btn" href="#questions-popup">Получить ответ от профессионала</a>
        </div>
      </div>

      <div class="questions-right">
        <div class="questions">
          <div class="questions-item">
            <div class="quest"><p>В чём заключаются ваши тренировки?</p><i></i></div>
            <div class="answer">Ответ: Мы не просто тренируемся, чтобы похудеть или набрать мышечную массу используя тот или иной подход(HIIT, Functional, Boxing, Bodypump..). Основа тренинга заключается в работе со своим весом используя только те подходы в тренинге, которые были протестированы нами лично и тренирующимся ранее. У нас нет магии, мы не льем воду, мы работаем на результат.</div>
          </div>
          <div class="questions-item">
            <div class="quest"><p>А если я хочу заниматься в тренажерном зале?</p><i></i></div>
            <div class="answer">Ответ: Это отлично! Мы с радостью поможем Вам адаптировать ваши пожелания в контексте тренировок в тренажерном зале и идти к результату вместе.</div>
          </div>
          <div class="questions-item">
            <div class="quest"><p>Каковы гарантии моего результата?</p><i></i></div>
            <div class="answer">Ответ: Тут всё очень просто – вы работаете и выполняете все указания и следуете согласно разработанному плану, а на выходе получаете отличный результат, гордость за себя и мотивацию идти дальше. Других вариантов быть не может, если у Вас нет проблем со здоровьем или вы банально не выполняете наши инструкции по питанию, тренингу вы будете прогрессировать, и добьётесь отличных результатов!</div>
          </div>
          <div class="questions-item">
            <div class="quest"><p>Когда будет заметен результат?</p><i></i></div>
            <div class="answer">Ответ: У каждого своя точка А. Можно добиться результата уже в первые 2 недели занятий и правильного питания. Все мы уникальны и у всех разные пожелания и цели. У нас есть базовый курс, который позволяет в спокойном для организма режиме идти к своей цели – идеальному телу. Если же Вам очень надо и еще вчера, мы будем работать вместе над вашим результатом, чтоб достигнуть его быстрее, мы будем консультировать Вас в процессе курса чтобы вы не навредили себе.</div>
          </div>
          <div class="questions-item">
            <div class="quest"><p>Как будет проходить курс?</p><i></i></div>
            <div class="answer">Ответ: Мы формируем небольшую группу, старт в понедельник. Все необходимые инструкции и доступы будут предоставлены. У вас будет закрытая группа, где мы будем вместе работать на результат, производить корректировки в процессе тренировок и питания. Делать различные разборы и консультации в общем чате. Мотивировать вас и вести к победе!</div>
          </div>
          <div class="questions-item">
            <div class="quest"><p>Если мне будет сложно?</p><i></i></div>
            <div class="answer">Ответ: Вы сможете самостоятельно регулировать нагрузку в соответствии вашей физической подготовки. Что позволит Вам тренироваться в независимо от вашей физической подготовки.</div>
          </div>
          <div class="questions-item">
            <div class="quest"><p>У меня травма спины (плеча, колена, кисти)?</p><i></i></div>
            <div class="answer">Ответ: Если у Вас травма, в обязательном порядке сообщите вашему куратору об этом. Опишите проблему подробно. На основании этого мы сможем Вам помочь и адаптировать согласно вашим физическим возможностям на данном этапе. У нас есть возможность помочь Вам и создавать такой тренировочный процесс, который будет адаптирован под Вас.</div>
          </div>
          <div class="questions-item">
            <div class="quest"><p>Мне надоел зал, вы можете что-то предложить?</p><i></i></div>
            <div class="answer">Ответ: Мы можем разнообразить Ваш тренировочный процесс в зале, что позволит заниматься с интересом и желанием. Мы добавим новые упражнения и корректируя в контексте ваших пожеланий и возможностей. Другой вариант это отказ от тренажерного зала и переход на занятия дома или на площадке. В любом случае скучно не будет!</div>
          </div>
        </div>
      </div>

      <div class="not-answered not-answered-hidden">
        <h4>Не нашли ответа на свой вопрос?</h4>
        <p>Задайте его Егору Ткаченко прямо сейчас!</p>
        <a class="questions-btn light-btn" href="#questions-popup">Получить ответ от профессионала</a>
      </div>
    </div>
  </div>
</section>