<section class="section10">
  <div class="reviews-title">
    <h2><span>Мнение людей со всей РФ и СНГ</span> о персональных программах Егора Ткаченко</h2>
  </div>
  <div class="reviews-wrap">
  
  <div class="reviews-item-wrap">
    <a href="images/review01.jpg" class="reviews-item">
      <img src="images/reviews01.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review02.jpg" class="reviews-item">
      <img src="images/reviews02.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review03.jpg" class="reviews-item">
      <img src="images/reviews03.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
  </div>
  <div class="reviews-item-wrap">
    <a href="images/review04.jpg" class="reviews-item">
      <img src="images/reviews04.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review05.jpg" class="reviews-item">
      <img src="images/reviews05.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review06.jpg" class="reviews-item">
      <img src="images/reviews06.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
  </div>
  <div class="reviews-item-wrap">
    <a href="images/review07.jpg" class="reviews-item">
      <img src="images/reviews07.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review08.jpg" class="reviews-item">
      <img src="images/reviews08.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review09.jpg" class="reviews-item">
      <img src="images/reviews09.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
  </div>
  <div class="reviews-item-wrap">
    <a href="images/review10.jpg" class="reviews-item">
      <img src="images/reviews10.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review11.jpg" class="reviews-item">
      <img src="images/reviews11.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review12.jpg" class="reviews-item">
      <img src="images/reviews12.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
  </div>
  <div class="reviews-item-wrap">
    <a href="images/review13.jpg" class="reviews-item">
      <img src="images/reviews13.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review14.jpg" class="reviews-item">
      <img src="images/reviews14.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review15.jpg" class="reviews-item">
      <img src="images/reviews15.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
  </div>
  <div class="reviews-item-wrap">
    <a href="images/review16.jpg" class="reviews-item">
      <img src="images/reviews16.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review17.jpg" class="reviews-item">
      <img src="images/reviews17.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review18.jpg" class="reviews-item">
      <img src="images/reviews18.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
  </div>
  <div class="reviews-item-wrap">
    <a href="images/review19.jpg" class="reviews-item">
      <img src="images/reviews19.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review20.jpg" class="reviews-item">
      <img src="images/reviews20.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review21.jpg" class="reviews-item">
      <img src="images/reviews21.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
  </div>
  <div class="reviews-item-wrap">
    <a href="images/review22.jpg" class="reviews-item">
      <img src="images/reviews22.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review23.jpg" class="reviews-item">
      <img src="images/reviews23.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review24.jpg" class="reviews-item">
      <img src="images/reviews24.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
  </div>
  <div class="reviews-item-wrap">
    <a href="images/review25.jpg" class="reviews-item">
      <img src="images/reviews25.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review26.jpg" class="reviews-item">
      <img src="images/reviews26.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review27.jpg" class="reviews-item">
      <img src="images/reviews27.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
  </div>
  <div class="reviews-item-wrap">
    <a href="images/review28.jpg" class="reviews-item">
      <img src="images/reviews03.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review29.jpg" class="reviews-item">
      <img src="images/reviews05.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
    <a href="images/review30.jpg" class="reviews-item">
      <img src="images/reviews07.jpg" alt="">
      <div class="reviews-hover">
        <p>Смотреть отзыв</p>
      </div>
    </a>
  </div>
     
  </div>
</section>