<section id="get" class="section07">
  <div class="mbox">
    <h2 class="el-square"><span>Что вы получаете</span> от занятий по персональной программе Егора Ткаченко?</h2>
    <div class="what-get">

      <div class="get-item">
        <div class="get-top">
          <div class="get-icon">
            <img src="images/online-icon.png" alt="online">
          </div>
          <div class="get-title">
            <h5>Дистанционные тренировки online</h5>
          </div>
        </div>
        <p>Эффективно стройте свое спортивное тело где и тогда, когда это удобно вам.</p>
      </div>

      <div class="get-item">
        <div class="get-top">
          <div class="get-icon">
            <img src="images/newbie-icon.png" alt="newbie">
          </div>
          <div class="get-title">
            <h5>Отсутствие опыта – нет проблем</h5>
          </div>
        </div>
        <p>Программы, как для новичков, так и для опытных с учетом ваших потребностей.</p>
      </div>

      <div class="get-item">
        <div class="get-top">
          <div class="get-icon">
            <img src="images/individual-icon.png" alt="individual">
          </div>
          <div class="get-title">
            <h5>Индивидуальный подход</h5>
          </div>
        </div>
        <p>Тренер составит программу с учетом ваших физических данных, здоровья, опыта и целей.</p>
      </div>

      <div class="get-item">
        <div class="get-top">
          <div class="get-icon">
            <img src="images/confidence-icon.png" alt="confidence">
          </div>
          <div class="get-title">
            <h5>Уверенность и спокойствие</h5>
          </div>
        </div>
        <p>Можете быть уверены в достижении цели под руководством Егора Ткаченко – профессионала с опытом тренинга 8 лет.</p>
      </div>

      <div class="get-item">
        <div class="get-top">
          <div class="get-icon">
            <img src="images/result-icon.png" alt="result">
          </div>
          <div class="get-title">
            <h5>Результат, которым можно гордиться</h5>
          </div>
        </div>
        <p>За 8-12 недель тренировок и питания вы гарантированно приведете свое тело в форму.</p>
      </div>

      <div class="get-item">
        <div class="get-top">
          <div class="get-icon">
            <img src="images/charge-icon.png" alt="charge">
          </div>
          <div class="get-title">
            <h5>Заряд энергии и мотивации</h5>
          </div>
        </div>
        <p>Тренировки придадут вашей жизни новый ритм, заряд бодрости и уверенности в себе..</p>
      </div>

      <div class="get-item">
        <div class="get-top">
          <div class="get-icon">
            <img src="images/home-icon.png" alt="home">
          </div>
          <div class="get-title">
            <h5>Адаптация под зал,офис и или домашний тренинг</h5>
          </div>
        </div>
        <p>Программа тренировок адаптируется не только под ваши цели, но и под удобный для вас формат занятий в зале, дома или в офисе.</p>
      </div>

      <div class="get-item">
        <div class="get-top">
          <div class="get-icon">
            <img src="images/support-icon.png" alt="support">
          </div>
          <div class="get-title">
            <h5>Тотальная поддержка</h5>
          </div>
        </div>
        <p>Online-курс привязан к социальным сетям и мессенджерам, так вы всегда получите поддержку 24/7 от своего персонального тренера-наставника.</p>
      </div>

      <div class="get-item">
        <div class="get-top">
          <div class="get-icon">
            <img src="images/discount2-icon.png" alt="discount">
          </div>
          <div class="get-title">
            <h5>Выгоднее на 20%</h5>
          </div>
        </div>
        <p>Цена персональной программы на 20% дешевле, чем покупка абонемента в зал (еще без учета персонального тренинга).</p>
      </div>

    </div>
  </div>
</section>