<section class="section04">
  <div class="pass-test">
    <div class="pass-test-title">
      <h2><span>Пройдите тест</span> и узнайте о себе:</h2>
    </div>
    <div class="pass-test-left">
      <ul>
        <li>Выносливость и силу</li>
        <li>Гибкость</li>
        <li>Координацию и композицию тела (замеры и индекс массы тела)</li>
      </ul>
    </div>
    <div class="pass-test-right">
      <div class="el-form">
        <form class="test-form" action="ajax-programer.php" method="post" data-form="test">
          <div class="fields-wrap">
            <div class="form-field name-field">
              <input type="text" name="name" placeholder="Введите Ваше имя" required />
            </div>
            <div class="form-field">
              <input class="tel-mask" type="tel" name="tel" placeholder="Введите Ваш телефон" required />
            </div>
          </div>
          <button id="test_btn" class="light-btn" type="submit">Получить советы и доступ к видео</button>
        </form>
        <div class="request">
          <span>Или оставьте заявку в Viber или WhatsUp</span>
          <a class="whatsup-btn" href="#"><img src="images/whatsup-icon.png" alt="whatsup">WhatsUp</a>
          <a class="viber-btn" href="#"><img src="images/viber-icon.png" alt="viber">Viber</a>
        </div>
      </div>
      <p>Сегодня прошли уже тест <span class="test-count">9</span> человек</p>
    </div>
  </div>
</section>