<section class="section03">
  <div class="mbox">
    <h2 class="el-square"><span>9 проблем, которые решит</span> персональная программа тренировок Егора Ткаченко</h2>
    <div class="problem-wrap">

      <div class="problem-item">
        <div class="problem-pic">
          <img src="images/fat.jpg" alt="fat">
        </div>
        <div class="problem-info">
          <h5>Есть лишний вес?</h5>
          <p>Персональная программа тренировок, подбор питания и контроль решат вашу проблему раз и навсегда.</p>
        </div>
      </div>

      <div class="problem-item">
        <div class="problem-pic">
          <img src="images/program.jpg" alt="program">
        </div>
        <div class="problem-info">
          <h5>Нет свободного времени?</h5>
          <p>Программа тренировок подстраивается под ваше время, удобна для дома, офиса и спортзала.</p>
        </div>
      </div>

      <div class="problem-item">
        <div class="problem-pic">
          <img src="images/control.jpg" alt="control">
        </div>
        <div class="problem-info">
          <h5>Необходим персональный контроль?</h5>
          <p>Ваш личный тренер Егор Ткаченко будет на связи 24/7, будет следить за результатами, фиксировать и направлять.</p>
        </div>
      </div>

      <div class="problem-item">
        <div class="problem-pic">
          <img src="images/home.jpg" alt="home">
        </div>
        <div class="problem-info">
          <h5>Можете заниматься только дома?</h5>
          <p>Любая персональная программа от Егора Ткаченко может эффективно практиковаться в домашних условиях.</p>
        </div>
      </div>

      <div class="problem-item">
        <div class="problem-pic">
          <img src="images/subscription.jpg" alt="subscription">
        </div>
        <div class="problem-info">
          <h5>Не готовы платить за абонемент фитнес-клуба?</h5>
          <p>Это доступнее, чем персональные занятия в зале или покупка абонемента.</p>
        </div>
      </div>

      <div class="problem-item">
        <div class="problem-pic">
          <img src="images/injury.jpg" alt="injury">
        </div>
        <div class="problem-info">
          <h5>Не можете заниматься из-за травмы?</h5>
          <p>Персональная программа будет разработана так, чтобы держать ваше тело в форме, не перегружая проблемные места.</p>
        </div>
      </div>

    </div>

    <div class="problem-hidden">
      <div class="problem-item">
        <div class="problem-pic">
          <img src="images/skinny.jpg" alt="skinny">
        </div>
        <div class="problem-info">
          <h5>Недостаточно мышечной массы?</h5>
          <p>Сбалансированное питание и индивидуально подобранные тренировки позволят вам сделать свое тело мечты.</p>
        </div>
      </div>

      <div class="problem-item">
        <div class="problem-pic">
          <img src="images/bore.jpg" alt="bore">
        </div>
        <div class="problem-info">
          <h5>Свои занятия кажутся скучными?</h5>
          <p>Персональная программа поможет скорректировать ваши тренировки, привнести в них разнообразие и новизну.</p>
        </div>
      </div>

      <div class="problem-item">
        <div class="problem-pic">
          <img src="images/not-sure.jpg" alt="not-sure">
        </div>
        <div class="problem-info">
          <h5>Нет уверенности и поддержки от тренера?</h5>
          <p>За плечами Егора Ткаченко 8-летний опыт, множество успешных кейсов и благодарностей.</p>
        </div>
      </div>
    </div>

    <div class="problem-all">
      <a id="problemAll" href="#">Посмотреть еще<img src="images/arrow-icon.png" alt="arrow"></a>
    </div>
  </div>
</section>