<section id="results" class="section05">
  <h2 class="el-square"><span>Посмотрите на результаты</span> наших подопечных</h2>
  <div class="results">

  <div class="results-item">
    <div class="results-item-left">
      <div class="user-info">
        <h5>Анастасия Метлинова</h5>
        <span>г. Севастополь</span>
        <p>офисный работник</p>
        <a href="https://vk.com/a_metlinova" target="_blank">https://vk.com/a_metlinova</a>
      </div>
      <div class="user-photo">
        <img src="images/result03.jpg" alt="result">
      </div>
      <a class="results-btn" href="#call-popup">Хотите такиж же результатов?</a>
    </div>
    <div class="results-item-right">
      <div class="user-list">
        <h6><span>Проблемы и задачи:</span></h6>
        <ul>
          <li>проблемы с физической формой</li>
          <li>восстановление формы после родов</li>
          <li>убрать лишний вес</li>
        </ul>
      </div>
      <div class="user-list">
        <h6>Решения и результаты:</h6>
        <ul>
          <li>скорректировать питание</li>
          <li>нормализовали и скорректировали питание</li>
          <li>дополнительный акцент на питьевом режиме</li>
        </ul>
      </div> 
      <div class="user-video">
        <iframe width="220" height="107" src="https://www.youtube.com/embed/T0szh5XVG7A?&showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div> 
    </div>
    <a class="results-btn results-btn-hidden" href="#call-popup">Хотите такиж же результатов?</a>
  </div>

    <div class="results-item">
      <div class="results-item-left">
        <div class="user-info">
          <h5>Ольга Ковалёва</h5>
          <span>г. Севастополь</span>
          <p>офисный работник</p>
          <a href="https://vk.com/jyjy7" target="_blank">https://vk.com/jyjy7</a>
        </div>
        <div class="user-photo">
          <img src="images/result02.jpg" alt="result">
        </div>
        <a class="results-btn" href="#call-popup">Хотите такиж же результатов?</a>
      </div>
      <div class="results-item-right">
        <div class="user-list">
          <h6><span>Проблемы и задачи:</span></h6>
          <ul>
            <li>проблемы с физической формой</li>
            <li>скорректировать питание</li>
            <li>подобрать спортивное питание</li>
          </ul>
        </div>
        <div class="user-list">
          <h6>Решения и результаты:</h6>
          <ul>
            <li>подобрали комплекс упражнений для спины</li>
            <li>в целом улучшили тонус организма</li>
          </ul>
        </div> 
        <div class="user-video">
          <iframe width="220" height="107" src="https://www.youtube.com/embed/8Ns3nThyvDU?&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div> 
      </div>
      <a class="results-btn results-btn-hidden" href="#call-popup">Хотите такиж же результатов?</a>
    </div>

    <div class="results-item">
      <div class="results-item-left">
        <div class="user-info">
          <h5>Ткаченко Елена</h5>
          <span>г. Ялта</span>
          <p>офисный работник</p>
          <a href="https://vk.com/id127479810" target="_blank">https://vk.com/id127479810</a>
        </div>
        <div class="user-photo">
          <img src="images/result01.jpg" alt="result">
        </div>
        <a class="results-btn" href="#call-popup">Хотите такиж же результатов?</a>
      </div>
      <div class="results-item-right">
        <div class="user-list">
          <h6><span>Проблемы и задачи:</span></h6>
          <ul>
            <li>проблемы с физической формой</li>
            <li>скорректировать питание</li>
            <li>улучшить самочувствие во всём организме</li>
          </ul>
        </div>
        <div class="user-list">
          <h6>Решения и результаты:</h6>
          <ul>
            <li>подобрали комплекс упражнений </li>
            <li>повысили выносливость</li>
            <li>улучшили самочувствие</li>
          </ul>
        </div> 
        <div class="user-video">
          <iframe width="220" height="107" src="https://www.youtube.com/embed/20ev6ScNPKg?&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div> 
      </div>
      <a class="results-btn results-btn-hidden" href="#call-popup">Хотите такиж же результатов?</a>
    </div>

    <div class="results-item">
      <div class="results-item-left">
        <div class="user-info">
          <h5>Константин Надточей</h5>
          <span>г. Харьков</span>
          <p>офисный работник</p>
          <a href="https://vk.com/x3m_jumper" target="_blank">https://vk.com/x3m_jumper</a>
        </div>
        <div class="user-photo">
          <img src="images/result04.jpg" alt="result">
        </div>
        <a class="results-btn" href="#call-popup">Хотите такиж же результатов?</a>
      </div>
      <div class="results-item-right">
        <div class="user-list">
          <h6><span>Проблемы и задачи:</span></h6>
          <ul>
            <li>проблемы с физической формой</li>
            <li>скорректировать питание</li>
          </ul>
        </div>
        <div class="user-list">
          <h6>Решения и результаты:</h6>
          <ul>
            <li>согнали лишний вес - 3кг</li>
            <li>повысили выносливость </li>
            <li>улучшили качество и тонус тела в целом</li>
          </ul>
        </div> 
        <div class="user-video">
          <iframe width="220" height="107" src="https://www.youtube.com/embed/AUaXWzIW6W4?&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div> 
      </div>
      <a class="results-btn results-btn-hidden" href="#call-popup">Хотите такиж же результатов?</a>
    </div>

    <div class="results-item">
      <div class="results-item-left">
        <div class="user-info">
          <h5>Алла</h5>
          <span>г. Севастополь</span>
          <p>офисный работник</p>
          <a href="https://vk.com/allunchikk" target="_blank">https://vk.com/allunchikk</a>
        </div>
        <div class="user-photo">
          <img src="images/result05.jpg" alt="result">
        </div>
        <a class="results-btn" href="#call-popup">Хотите такиж же результатов?</a>
      </div>
      <div class="results-item-right">
        <div class="user-list">
          <h6><span>Проблемы и задачи:</span></h6>
          <ul>
            <li>проблемы с физической формой</li>
            <li>сжечь 1-2 кг лишнего веса</li>
            <li>скорректировать питание</li>
          </ul>
        </div>
        <div class="user-list">
          <h6>Решения и результаты:</h6>
          <ul>
            <li>похудели на 2кг</li>
            <li>в целом улучшили тонус организма</li>
            <li>лучшее физическое состояние</li>
          </ul>
        </div>

        <div class="user-comment-wrap">
          <div class="user-comment">
            <p>Я решила привести себя в форму, но мои походы в зал не давали практически никаких результатов. Я чувствовала и понимала, что делаю что-то не правильно. Заниматься персонально с тренером в зале у меня не было возможности, поэтому решила приобрести онлайн курс, который предполагает дистанционную работу с тренером. Я вообще считаю онлайн курсы очень эффективными, поэтому решила их испытать на себе, о чем не жалею. Тренером моим был Егор, он сразу понял в чем моя проблема и разработал отличную программу тренировок, дал очень много советов по питанию, ведь питание – очень важная и неотъемлемая часть при похудении и занятии спортом. Результатами работы с Егором очень довольна и не собираюсь останавливаться на достигнутом, буду и дальше продолжать с ним работать.</p>
          </div> 
          <a class="userFull" href="#user-popup">читать подробней...</a>
        </div> 
      </div>
      <a class="results-btn results-btn-hidden" href="#call-popup">Хотите такиж же результатов?</a>
    </div>

    <div class="results-item">
      <div class="results-item-left">
        <div class="user-info">
          <h5>Алиса Вединяпина</h5>
          <span>г. Тверь</span>
          <p>офисный работник</p>
          <a href="https://vk.com/alik93" target="_blank">https://vk.com/alik93</a>
        </div>
        <div class="user-photo">
          <img src="images/result06.jpg" alt="result">
        </div>
        <a class="results-btn" href="#call-popup">Хотите такиж же результатов?</a>
      </div>
      <div class="results-item-right">
        <div class="user-list">
          <h6><span>Проблемы и задачи:</span></h6>
          <ul>
            <li>проблемы с физической формой</li>
            <li>подсушить тело к лету</li>
            <li>скорректировать питание</li>
          </ul>
        </div>
        <div class="user-list">
          <h6>Решения и результаты:</h6>
          <ul>
            <li>нормализовали и скорректировали питание</li>
            <li>в целом улучшили тонус организма</li>
          </ul>
        </div>
        <div class="user-comment-wrap">
          <div class="user-comment">
            <p>В общем моя фигура не самая худшая.Я хотела подсушиться,убрать некоторые излишки(как и большинство девушек-я всегда недовольна своим телом) и разобраться со своим питанием.
            Приятно было то, что достигать результата можно работая с тренером дистанционно. Разбирать тренировки, питание и анализировать мой прогресс в целом. Это очень удобно не привязываясь к месту, я могу спокойно продолжать идти к своим целям и получать консультации и ответы на интересующие меня вопросы. В целом те изменения ,которые я сейчас у себя наблюдаю,устраивают меня более чем. Но я не останавливаюсь на достигнутом (искренне надеюсь,что благодаря Егору и своему упорству,к лету я окончательно достигну идеала)
            </p>
          </div>
          <a class="userFull" href="#user-popup">читать подробней...</a>
        </div> 
      </div>
      <a class="results-btn results-btn-hidden" href="#call-popup">Хотите такиж же результатов?</a>
    </div>

    <div class="results-item">
      <div class="results-item-left">
        <div class="user-info">
          <h5>Афанасьев Александр</h5>
          <span>г. Харьков</span>
          <p>офисный работник</p>
          <a href="https://vk.com/affalex" target="_blank">https://vk.com/affalex</a>
        </div>
        <div class="user-photo">
          <img src="images/result07.jpg" alt="result">
        </div>
        <a class="results-btn" href="#call-popup">Хотите такиж же результатов?</a>
      </div>
      <div class="results-item-right">
        <div class="user-list">
          <h6><span>Проблемы и задачи:</span></h6>
          <ul>
            <li>проблемы с физической формой</li>
            <li>добавить в мышечной массе</li>
            <li>скорректировать питание</li>
          </ul>
        </div>
        <div class="user-list">
          <h6>Решения и результаты:</h6>
          <ul>
            <li>добавили 4 кг мышечной массы</li>
            <li>в целом улучшили тонус организма</li>
          </ul>
        </div>
        <div class="user-comment-wrap">
          <div class="user-comment">
            <p>Было желание изменить своё тело к лучшему, но из-за офисной суматохи никак не мог. Сейчас то я понимаю, что это всё были отмазки, но тогда это не было так очевидно. Начал искать онлайн сервисы в которых был бы индивидуальный подход и качественная поддержка с постоянным фидбэком.
            Как одно из гарантий, документация по предоставлению услуг и составленный подробный план того, как будет проходить курс.
            Видно, что в этом сервисе ребята начитаны и с большим опытом, исходя из этого, они могут в кротчайшие сроки увидеть подходит ли вам та или иная программа и диета.
            Были важны люди которые будут курировать, уровень сервиса, составление диеты исходя из моих потребностей. Это мой первый курс и результаты меня очень порадовали. 
            </p>
          </div> 
          <a class="userFull" href="#user-popup">читать подробней...</a>
        </div>
      </div>
      <a class="results-btn results-btn-hidden" href="#call-popup">Хотите такиж же результатов?</a>
    </div>

    <div class="results-item">
      <div class="results-item-left">
        <div class="user-info">
          <h5>Миша Цушко</h5>
          <span>г. Севастополь</span>
          <p>офисный работник</p>
          <a href="https://vk.com/id85259379" target="_blank">https://vk.com/id85259379</a>
        </div>
        <div class="user-photo">
          <img src="images/result08.jpg" alt="result">
        </div>
        <a class="results-btn" href="#call-popup">Хотите такиж же результатов?</a>
      </div>
      <div class="results-item-right">
        <div class="user-list">
          <h6><span>Проблемы и задачи:</span></h6>
          <ul>
            <li>повышение выносливости</li>
            <li>скорректировать питание</li>
          </ul>
        </div>
        <div class="user-list">
          <h6>Решения и результаты:</h6>
          <ul>
            <li>нормализовали и скорректировали питание</li>
            <li>добавили 2кг  мышечной массы</li>
            <li>в целом улучшили тонус организма</li>
          </ul>
        </div>
        <div class="user-comment-wrap">
          <div class="user-comment">
            <ol>
              <li>Хотел заниматься спортом, с наименьшим уроном для своего здоровья, так как сейчас много дилетантов тренеров, не знающие анатомии и норм питания.</li>
              <li>Была проблема в выборе тренера знающего толк в питании и специфики тренировок на выносливость, и последующее восстановление после тренировок.</li>
              <li>Начинал сам, бег, турники, брусья но понял что без квалифицированной помощи не обойтись.</li>
              <li>Начал спрашивать у знакомых, искать в интернете, сидеть на форумах. И наткнулся на сайт который мне помог.</li>
            </ol>
          </div>
          <a class="userFull" href="#user-popup">читать подробней...</a>
        </div> 
      </div>
      <a class="results-btn results-btn-hidden" href="#call-popup">Хотите такиж же результатов?</a>
    </div>

    <div class="results-item">
      <div class="results-item-left">
        <div class="user-info">
          <h5>Сергей</h5>
          <span>г. Севастополь</span>
          <p>офисный работник</p>
          <a href="https://vk.com/id24452012" target="_blank">https://vk.com/id24452012</a>
        </div>
        <div class="user-photo">
          <img src="images/result09.jpg" alt="result">
        </div>
        <a class="results-btn" href="#call-popup">Хотите такиж же результатов?</a>
      </div>
      <div class="results-item-right">
        <div class="user-list">
          <h6><span>Проблемы и задачи:</span></h6>
          <ul>
            <li>проблемы с физической формой</li>
            <li>привести в тонус весь организм</li>
            <li>набрать мышечной массы</li>
          </ul>
        </div>
        <div class="user-list">
          <h6>Решения и результаты:</h6>
          <ul>
            <li>добавили 5 кг мышечной массы</li>
            <li>нормализовали питание</li>
          </ul>
        </div>
        <div class="user-comment-wrap">
          <div class="user-comment">
            <p>Приветствую всех, кому не безразлична данная тема! Отзывы обычно не оставляю, однако тот о ком пойдёт речь ниже, настолько перевернул моё представление о спорте, питании и активном образе жизни, что не написать об этом я не имею права.</p>
            <p>Все началось с того, что пройдя около 10 лет офисной жизни, я задумался о том, что мне крайне необходимо начинать двигаться. С приятелем купили абонементы в качалку с супер тренером  - многократным чемпионом Европы по бодибилдингу и всё такое. Ну, думаю, к лету бицуха подрастёт, кубики на прессе выделятся, прощай дрыщ))</p>
            <p>В зал - через день, качаю все сразу и побольше, чтоб быстрее росло. МЕГАтренера спрашиваю: "Правильно делаю?". Чуть технику поправит и: "Давай, вес добавляй!"
            После трёх недель такого актива я понимаю, что желания ходить туда нет, мышцы в постоянной крепатуре, тело всё ноет, и в чем соль понять не могу. В общем, решил, что не моё это  (видать организм не стандартный либо старею), но решил таки погуглить на эту тему.</p>
            <p>Работать на разные группы мышц - это как? Восстановление организма - я не в курсе... Главное питание - ну да конечно, что за бред, мой МЕГАтренер обязательно бы мне об этом сказал , думал я.
            И наверняка сказал бы, если бы я сразу купил у него - у многократного чемпиона, индивы... за дорого, но кто ж знал (что фитнесс индустрия так коварна).</p>
            <p>И тут я натыкаюсь на проект #DAESHSPORT, вроде бы с недоверием, но заинтересовала сама подача и объём полезной информации. Посчитал экономику в пять раз дешевле индивов с МЕГАтренером. Решил попробовать - купил курс и не то, что не пожалел, а просто нахожусь в восторге от того как можно взаимодействовать с опытным и знающим своё дело инструктором не только тренируясь, но и в освоении здорового питания да и в целом здорового образа жизни! Все поменялось кардинально: режим тренировок, питания, сна и результат не заставил себя долго ждать. Уже буквально через пару недель я почувствовал что мне это приносит удовольствие, мне интересно, я стал более энергичным, собранным, начали расти веса. Ещё через пару месяцев я себя уже ощущал в отличном физическом состоянии. Сейчас продолжаю работать на формы и уже не представляю свою жизнь без спорта.        Особенно цепляют функциональные тренировочки, нет монотонности, однообразия, все продуманно до мелочей.</p>
            <p>Сейчас, обращая внимание на то, какие безграмотные в зале встречаются тренера, которым не плевать только на их з/п, я понимаю как мне повезло с моим наставником Егором. Однозначно, всем рекомендую!!! Вы не пожалеете!</p>
          </div>
          <a class="userFull" href="#user-popup">читать подробней...</a>
        </div> 
      </div>
      <a class="results-btn results-btn-hidden" href="#call-popup">Хотите такиж же результатов?</a>
    </div>

  </div>
  
  <div class="feedback-wrap">
    <div class="feedback">
      <h4><span>Проходите нашу программу</span> и хотите поделиться своим мнением?</h4>
      <a class="feedback-btn" href="#feedback-popup">Оставляйте свои отзывы</a>
      <p>Оставьте свой отзыв и получите бонуc – <span>500 руб. на счет своего мобильного!</span></p>
    </div>
  </div>
</section>